services: 
  web: 
    build: .
    ports: 
      - "8000:8000"
    depends_on:
      mongodb:
        condition: service_started
      redis:
        condition: service_started

  redis:
    image: redis

  mongodb: 
    image: mongo
    ports:
      - "27017:27017"